[Unit]
Description=OLED Screen Stats Display
DefaultDependencies=no
After=local-fs.target
Before=network.target

[Service]
ExecStart=/home/borys/screen/screen_env/bin/python3 /home/borys/screen/screen.py
WorkingDirectory=/home/borys/screen/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=borys
Group=borys
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=sysinit.target
